@import './settings.scss';

body {
  background-color: $color-bg;
  color: $color-text;
  padding: $base-size * 2; // 16px ≈ 1rem
  line-height: 1.5;
  font-family: $font-main;
  text-align: left;
}

/* Hero */
div {
  margin-bottom: $base-size * 2; // 16px ≈ 1rem

  h1 {
    font-size: $font-size-h1; // 2rem
    font-weight: 700;
    margin-bottom: $base-size; // 8px ≈ 0.5rem
  }

  p {
    font-size: $font-size-base; // 1rem
    color: $color-text-light;
    margin: $base-size 0; // 8px ≈ 0.5rem
  }
}
